@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url(font/Exo2XLight.woff) format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(font/Exo2Regular.woff) format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(font/Exo2SemiBold.woff) format('woff');
}
